<form>

    <mat-form-field class="form-group">
        <input matInput placeholder="First name" [(ngModel)]="firstName"
                [formControl]="firstNameFormControl">
        <mat-error *ngIf="firstNameFormControl.hasError('required')" id="error">
          First Name is <strong>required</strong>
        </mat-error>
    </mat-form-field><br>
    
    <mat-form-field class="form-group">
        <input matInput placeholder="Second name" [(ngModel)]="secondName"
                [formControl]="secondNameFormControl">
        <mat-error *ngIf="secondNameFormControl.hasError('required')" id="error">
          Second Name is <strong>required</strong>
        </mat-error>
    </mat-form-field><br>

    <mat-form-field class="form-group">
        <input matInput placeholder="Username" [(ngModel)]="username"
                [formControl]="usernameFormControl">
        <mat-error *ngIf="usernameFormControl.hasError('required')" id="error">
          Username is <strong>required</strong>
        </mat-error>
    </mat-form-field><br>

    <mat-form-field class="form-group">
        <input matInput placeholder="Email" [(ngModel)]="email"
                [formControl]="emailFormControl" type="email" name="email">
        <mat-error *ngIf="emailFormControl.hasError('pattern')" id="error">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')" id="error">
          Email is <strong>required</strong>
        </mat-error>
    </mat-form-field><br>

    <mat-form-field class="form-group">
        <input matInput placeholder="Password" [(ngModel)]="password"
                [formControl]="passwordFormControl" type="password" id="password">
        <mat-error *ngIf="passwordFormControl.hasError('required')" id="error">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('pattern')" id="error">
            Password should be from 6 to 15 characters containing letters and digits
          </mat-error>
        <mat-hint align="start" class="mat-error" id="passwordError"></mat-hint>
    </mat-form-field><br>

    <mat-form-field class="form-group" id="repeatedPasswordField">
        <input matInput placeholder="Repeat password" [(ngModel)]="repeatedPassword"
                [formControl]="repeatedPasswordFormControl" type="password" (input)="clearMdHint()" id="repeatedPasswordInput">
        <mat-error *ngIf="repeatedPasswordFormControl.hasError('required')" id="error">
          Repeated password is <strong>required</strong>
        </mat-error>
        <mat-hint align="start" class="mat-error" id="repeatedPasswordError"></mat-hint>
    </mat-form-field><br>

    <div id="toast-dialog"></div>

    <div class="inline">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                type="button" (click)="onNoClick()">Close</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent float-right"
                type="submit" (click) = "onSignUpClick()">Sign Up</button>
    </div>
</form>