.mdl-layout__header {
  background: url('.././images/header.jpg') center / cover;
}

.mdl-layout__header-row {
  color: white;
}

#header_nav .mdl-navigation__link {
  color: white;
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.algorithms-card .mdl-card__title {
  padding-bottom: 0;
}

.algorithms-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.algorithms-max-width {
  max-width: 900px;
  margin: auto;
}

.add-button {
  position: fixed;
  right: 50px !important;
  bottom: 10px !important;
}