<form>
    <mat-form-field class="form-group">
        <input matInput placeholder="Username" [(ngModel)]="username" [formControl]="usernameFormControl" type="text">
        <mat-error *ngIf="usernameFormControl.hasError('required')" id="error">
          Username is <strong>required</strong>
        </mat-error>
    </mat-form-field><br>
    <mat-form-field class="form-group">
        <input matInput placeholder="Password" [(ngModel)]="password" [formControl]="passwordFormControl"
            type="password">
        <mat-error *ngIf="passwordFormControl.hasError('required')" id="error">
          Password is <strong>required</strong>
        </mat-error>
    </mat-form-field><br>
    <div id="toast"></div>
    <div class="inline form-group">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            type="button" (click)="onNoClick()">Close</button>
        <button class="ml-2 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent float-right"
            type="button" (click)="onSignUpClick()">Sign Up</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent float-right"
            type="submit" (click)="onSignInClick()">Sign In</button> 
    </div>
</form>